/* resets */

* {
  margin: 0;
  padding: 0;
}

/* body styles */

body {
  font-family: mrs-eaves, serif;
  font-weight: 400;
  background-color: #002a4e;
}

/* header */

header#mobile-header {
  height: 5rem;
  width: auto;
  background-color: #002a4e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header#tablet-desktop-header {
  display: none;
}

/* .sticky {
  position: sticky;
  top: 0;
} */

img#raimelee-r-logo {
  width: auto;
  height: 2.5rem;
  position: relative;
  padding-left: 1rem;
}

img#ellipsis {
  width: auto;
  height: 2.5rem;
  position: relative;
  padding-right: 1rem;
}

div.headline-container {
  padding: 2.25rem 4rem 6.6rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

p.headline {
  text-align: center;
  color: #f3ece4;
  font-family: mrs-eaves, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
}

div.line-light {
  width: 60%;
  border-top: 0.75px solid #f3ece4;
  margin-top: 1.85rem;
}

div.portrait-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -3.75rem;
  /* margin-bottom: 1.25rem; */
}

img.site-images {
  width: 85%;
  height: auto;
  box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.25rem;
}

div#projects-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

div.line-dark-center {
  width: 95%;
  border-top: 0.75px solid #002a4e;
  margin: 0.5rem;
}

div.line-dark {
  width: 30%;
  border-top: 0.75px solid #002a4e;
  margin: 0.65rem auto 0.65rem 0;
}

.line {
  width: 25%;
  border-top: 1px solid #002a4e;
}

div.content {
  background-color: #f3ece4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

section {
  width: 85%;
  margin-bottom: 8rem;
}

section.bio {
  clear: both;
  position: relative;
  top: -3.75rem;
}

h2 {
  font-family: mrs-eaves-roman-small-caps, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.125rem;
}

h3 {
  font-family: mrs-eaves, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  margin-bottom: 2rem;
}

h4 {
  font-family: mrs-eaves, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.35rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem;
}

section p {
  font-size: 1.35rem;
  line-height: 2.125rem;
  margin-bottom: 2rem;
}
em {
  letter-spacing: 0.035rem;
}

button {
  background-color: #002a4e;
  border: none;
  color: #f3ece4;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: mrs-eaves-roman-small-caps, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  margin: 3rem auto 4rem auto;
  cursor: pointer;
  box-shadow: -0.5px 1px 8px rgba(0, 0, 0, 0.5);
}
/* i.fa-circle-up {
  font-size: 3rem;
  color: #002a4e;
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
  z-index: 10;
} */
i.fa-caret-up {
  font-size: 3.5rem;
  color: rgba(142, 102, 8, 0.9);
  padding: 01rem;
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  z-index: 10;
  /* text-shadow: -2px 3px 7px rgba(0, 0, 0, 0.5); */
}

footer {
  display: flex;
  justify-content: center;
}

i {
  font-size: 3rem;
  color: #f3ece4;
  padding: 01rem;
}

@media only screen and (min-width: 40rem) {
  header#mobile-header {
    display: none;
  }

  header#tablet-desktop-header {
    height: 5rem;
    width: auto;
    background-color: #002a4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  img#raimelee-text-logo {
    width: auto;
    height: 2rem;
    position: relative;
    padding: 2rem 1.5rem;
  }

  img#ellipsis {
    /* width: auto; */
    height: 2rem;
    padding: 2rem 1.5rem;
  }
}
